
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bartino Outline";
  src: url("/fonts/bartino.outline-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bartino";
  src: url("/fonts/bartino-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MenoBanner";
  src: url("/fonts/ManoBanner/meno-banner-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MenoBanner";
  src: url("/fonts/ManoBanner/meno-banner-semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "MenoBanner";
  src: url("/fonts/ManoBanner/meno-banner-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

/* baskerville */

@font-face {
  font-family: "Baskervville", serif;
  src: url("/fonts/Baskervville/static/Baskervville-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Baskervville", serif;
  src: url("/fonts/Baskervville/static/Baskervville-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Baskervville", serif;
  src: url("/fonts/Baskervville/static/Baskervville-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Baskervville", serif;
  src: url("/fonts/Baskervville/static/Baskervville-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Futuru";
  src: url("/fonts/futuru/WOFF/Futuru-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Futuru";
  src: url("/fonts/futuru/WOFF/Futuru-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Futuru";
  src: url("/fonts/futuru/WOFF/Futuru-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Futuru";
  src: url("/fonts/futuru/WOFF/Futuru-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: "JUST";
  src: url("/fonts/just-sans/OTF/JUST-Sans-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "JUST";
  src: url("/fonts/just-sans/OTF/JUST-Sans-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "JUST";
  src: url("/fonts/just-sans/OTF/JUST-Sans-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "JUST";
  src: url("/fonts/just-sans/OTF/JUST-Sans-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
  --meno_font:"MenoBanner";
  --baskervville_font:"Baskervville", serif;
  --futuru_font:"Futuru";
  --just_font:"JUST";
}




body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.meno_font{
  font-family: var(--meno_font);
}

.baskervville_font{
  font-family: var(--baskervville_font);
}

.futuru_font{
  font-family: var(--futuru_font);
}

.just_font{
  font-family: var(--just_font);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none; 
  }
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.bartino-outline {
  font-family: "Bartino Outline", sans-serif;
}
.bartino {
  font-family: "Bartino", sans-serif;
}
.merriweather{
  font-family: "Merriweather", serif;
}
.bebas{
  font-family: "Bebas Neue", sans-serif;
}
.raleway{
  font-family: "Raleway", sans-serif;
}
.montserrat{
  font-family: "Montserrat", sans-serif;
}
.inter{
  font-family: "Inter", sans-serif;
}
.hero_section .swiper-slide figure {
  transform: scale(0.866666);
  height: 100%;
  width: 100%;
  transform-origin: center;
  position: relative;
  transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.5s ease;
}
.hero_section .swiper-slide {
  transition: padding 0.8s ease, transform 0.8s ease;
  will-change: transform, padding;
}
.hero_section .swiper-slide.swiper-slide-active figure .overlay_container {
  backdrop-filter: blur(0px);
  background-color: transparent;
  transition: backdrop-filter 0.8s ease, background-color 0.8s ease;
}
.hero_section .swiper-slide.swiper-slide-active figure {
  transform: scale(1);
  height: 100% !important;
  filter: brightness(1);
  transition: transform 0.8s ease, filter 0.8s ease;
}
.hero_section .swiper-slide.swiper-slide-active:nth-child(1) {
  transform: scale(6);
}
.sparkle_modal {
  background-color: #fff;
}
.sparkle_modal main {
  z-index: 2 !important;
  position: absolute;
}
.hero_section .swiper-slide.swiper-slide-active:hover figure {
  transform: scale(1.02);
}
.hero_section .swiper-slide.swiper-slide-active:hover figure {
  transform: scaleX(1.02);
}
.swiper-slide figure img,
.swiper-slide figure video {
  object-fit: cover;
  filter: grayscale(1);
}
.swiper-slide figure img,
.swiper-slide figure video {
  object-fit: cover;
  filter: grayscale(1);
}
.hero_section .swiper-slide.swiper-slide-active figure img,
.hero_section .swiper-slide.swiper-slide-active figure video {
  object-fit: cover;
  filter: grayscale(0);
}
.hero_section .swiper-slide.swiper-slide-active figure img,
.swiper-slide.swiper-slide-active figure video {
  object-fit: cover;
  filter: grayscale(0);
}
.hero_section .swiper-slide {
  transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.5s ease;
}
.hero_section .swiper_container {
  transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.5s ease;
}
.hero_section .swiper-slide .br_line {
  display: none;
}
.bc_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  pointer-events: none;
  position: absolute;
  transition: transform 1s ease;
}
.bc_wrapper > div {
  height: 100%;
  opacity: 1;
  position: relative;
  width: 50%;
}
.bc_wrapper > div > div {
  height: 30px;
  position: absolute;
  transition: transform 1s cubic-bezier(0, 0.55, 0.45, 1);
  width: 30px;
}
.t {
  top: 0;
}
.b {
  bottom: 0;
}
.bc_wrapper > .left > div {
  left: 0;
}
.bc_wrapper > .right > div {
  right: 0;
}
.bc_wrapper .h,
.v {
  background: #000;
  position: absolute;
  z-index: 11;
  transition: transform 0.8s cubic-bezier(0, 0.55, 0.45, 1);
}
.a_gl_wrapper,
.bc_wrapper {
  height: calc(100% + 35px);
  left: -16px;
  top: -18px;
  width: calc(100% + 35px);
}
.swiper-slide-active .bc_wrapper .h,
.is-selected .bc_wrapper .h,
.item-hov .bc_wrapper .h {
  transform: scaleX(1);
}
.swiper-slide-active .bc_wrapper .v,
.is-selected .bc_wrapper .v,
.item-hov .bc_wrapper .v {
  transform: scaleY(1);
}
.h {
  height: 2px;
  transform: scaleX(0);
  width: 100%;
}
.v {
  height: 100%;
  transform: scaleY(0);
  width: 2px;
}
.bc_wrapper .t .h {
  top: 0;
}
.bc_wrapper .b .h {
  bottom: 0;
}
.bc_wrapper .left div {
  left: 0;
}
.bc_wrapper .right div {
  right: 0;
}
.bc_wrapper .left .h {
  transform-origin: left;
}
.bc_wrapper .right .h {
  transform-origin: right;
}
.bc_wrapper .t .v {
  transform-origin: top;
}
.bc_wrapper .b .v {
  transform-origin: bottom;
}
.swiper-slide.swiper-slide-active .br_line {
  display: block;
}
.img_container {
  transform: transform 1s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.5s ease;
}
.swiper-pagination {
  display: none !important;
}
.bottom-blob {
  opacity: 1;
  height: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: -15px;
  width: calc(40% - 70px);
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  20% {
    animation: rotation 4s linear infinite alternate;

    transform: rotate(50deg);
  }
  40% {
    transform: rotate(-50deg);
  }
  60% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(50deg);
  }
  100% {
    animation: rotation 4s linear infinite alternate;

    transform: rotate(-50deg);
  }
}
.prefix__s0 {
  fill: #000;
}
.prefix__s1 {
  fill: #08dd5d;
}
.prefix__s2 {
  fill: #000;
}
.prefix__s3 {
  fill: #ff0088;
}
.prefix__s4 {
  fill: #ffe600;
}
.prefix__s5 {
  fill: #00adf2;
}
.rotate-plus {
  animation: rotation 15s linear infinite alternate;
}


.fixed_main_video {
  position: fixed;
  top: 0;
  left: 0;
}
.swiper {
  overflow: revert !important;
  position: relative;
}
.heading-container {
  position: static;
}
.listing_card {
  border: 1px dashed #000;
}

.infinite_swiper .swiper-wrapper{
  transition-timing-function: linear;
}


.animate-marquee {
  display: flex;
  animation: marquee 40s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Exactly half, because we duplicated */
  }
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

/* Pause on hover (optional) */
.animate-marquee:hover {
  animation-play-state: paused;
}

.word_underline{
  position:relative;
}

.word_underline:before{
  position:absolute;
  content:'';
  display:block;
  height:4px;
  width: 100%;
  background:#fff;
  bottom:15px;
  left:0;
}


.scrollDown {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  text-decoration: none;
  z-index: 10;
}

.scrollDown p {
  margin: 20px 0 0 0;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000;
  opacity: 0.8;
  font-family: var(--just_font);
  transition: opacity 0.3s ease;
}

.scrollDown:hover p {
  opacity: 1;
}

.scrollDown .mouse {
  position: relative;
  display: block;
  width: 30px;
  height: 55px;
  margin: 0 auto;
  box-sizing: border-box;
  background:#000;
  border-radius: 23px;
}

.scrollDown .mouse > span {
  position: absolute;
  top: 29%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
  background: #fff;
  border-radius: 50%;
  animation: ani-mouse 2.5s infinite linear;
}

@keyframes ani-mouse {
  0% {
    top: 29%;
  }
  15% {
    top: 50%;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 29%;
  }
}

/* Optional: smooth hover effect */
.scroll-btn:hover .mouse {
  opacity: 0.8;
}

.outline_word{
  -webkit-text-stroke: 2px #000;
  color:transparent;
  line-height: 50px;
}

.counter.outline_word{
  
}

/* start responsive */

@media (max-width: 1440px) {
  .hero_section ul li {
    font-size: 16px;
  }
}
.swiper_main_container .swiper-slide:last-child{visibility: hidden;}
@media (max-width: 768px) {
.swiper_main_container .swiper-slide:last-child{display:none;}
.listing_card:nth-child(odd){border-bottom: none;border-left: none;border-right: 0;}
.listing_card:nth-child(1) {border-top: none;}
.listing_card:nth-child(2) {border-top: none;}
.main_border_cmp{border: 1px dashed ;}

.listing_card:nth-child(even){border-bottom: none;border-right: none;}
.a_gl_wrapper,
.bc_wrapper {
height: calc(100% + 18px);
left: -10px;
top: -10px;
width: calc(100% + 18px);
}
.h {
height: 1px;
width: 90%;
}
.v {
height: 90%;
transform: scaleY(0);
width: 1px;
}
}

.video_container{position: relative;}

.video_container:after{
    content: '';
    display: block;
    height: 30px;
    width: 30px;
    background: red;
    right: 0;
    position: absolute;
    top: 0;
    background: url(/assets/aboutus/net.png);
}



.tools_sec li:nth-child(1){border-left: none;}
.tools_sec li:nth-child(5){border-right: none;}
.tools_sec li:nth-child(6){border-left: none;}
   .cls-1 {
        fill: #000;
        stroke-width: 0px;
      }
.tools_sec li:nth-child(10){border-right: none;}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.work_card img{transition: 1s all;transform: scale(1);}
/* .work_card:hover img{transform: scale(0.9);} */

.work_card:hover .select_box .bc_wrapper .h {
  transform: scaleX(1);
}
.work_card:hover .select_box .bc_wrapper .v {
  transform: scaleY(1);
}
.listing_card:where(:nth-child(1), :nth-child(6)) {
  border-left: none !important;
}

.listing_card:where(:nth-child(5), :nth-child(10)) {
  border-right: none !important;
}